        <div id="inputs" class="content">
          <form method="POST">
          <h2> Select mood</h2>

          <input type="date"><br>
          <input type="radio" name="mood" value="100"> Tim Minchin <br>
          <input type="radio" name="mood" value="80" checked> Good <br>
          <input type="radio" name="mood" value="60">Fiiiine<br>
          <input type="radio" name="mood" value="40">Fiiiiine :(<br>
          <input type="radio" name="mood" value="20">Emo music plx<br>
          <input type="submit"><br>
        </form>
        </div>

