  <div class="content cf">

  <div class="left">
    <h2>
  Choose an interval
  </h2>
    <ul class="header">
        <li><a class="button small-button" ng-click="currentIntervals=data.interval_6h;create(6)">Day</a></li>
        <li><a class="button small-button" ng-click="currentIntervals=data.interval_12h; create(12)">Week</a></li>
        <li><a class="button small-button" ng-click="currentIntervals=data.interval_24h; create(24)">Month</a></li>
    </ul>




    <div  style="height:400px;width:300px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">

      <ul>
        <li class="interval" ng-style="{{getColor(interval)}}" ng-repeat="interval in currentIntervals" ng-click="chooseInterval(interval)" > {{interval.time}}</li>      
      </ul>

    </div>
  </div>
    <div class="right" id="inputs">

      <div class="left">
          <ul class="header">
        <h1> Activities in the period of time {{intervalSize}}</h1>
    </ul>
        <div  style="height:400px;width:300px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
          <ul>
            <li ng-repeat="line in displayedLines" class="interval"> {{line}} </li>
            <!--<li ng-repeat="activity in displayInterval.activities"> Time: {{activity.timetag}}. <br>Activity:{{activity.description}}. </li>      -->
          </ul>
        </div>
      </div>
    </div>

    <p></p>
     

  </div>