  <div class="content">
  <h2>
  Choose an interval
  </h2>
  <div class="left">
  	<ul class="header">
        <li><a class="button intervals skyblue" ng-click="currentIntervals=data.interval_1h">1h</a></li>
        <li><a class="button intervals skyblue" ng-click="currentIntervals=data.interval_6h">6h</a></li>
    </ul>

    <div id="times" class="skyblue" style="height:400px;width:300px;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">

      <ul>
        <li class="interval" ng-style="{{getColor(interval)}}" ng-repeat="interval in currentIntervals" ng-click="chooseInterval(interval)" > {{interval.time}}</li>      
      </ul>

    </div>

	<div id="inputs">
	</div>
  </div>
    <div class="right" id="inputs">
    <ul>
    	<li ng-repeat="action in displayInterval.activities">{{action}}</li>
    </ul>
    </div>

    <p></p>
     

  </div>
