  <div class="content">
    <div class="cf" id="inputs">
      <div class="left" id="left">
      <!-- <form method="POST"> -->
        <h2> Most benificial activities:</h2>
        <br>
        <ol>
          <li> Sports </li>
          <li> Socialising </li>
          <li> Sleep </li>
          <li> Eating Out </li>
          <li> Relaxing </li>
        </ol>   
      </div>

      <div class="right" id="right">
        <h2>Suggested action:</h2>
        Select date:
        <input type="date">
        <br> <br>
        <h3> Predicted mood:</h3>
        Lazy <br>
        <h3>Suggestion:</h3>
        Do sports
      </div>
    
    <div id="bottombox">
      <h1>BOTTOMBOX</h1>
    </div>  

    <p></p>
     

  </div>