* {
  margin:0;
}
body{
  font: 12px Arial, sans-serif;
  background-color:rgb(225, 235, 245)
}
#container{
html, body, #container{ 
height: 100%; 
}
body > #container{ 
height: auto; min-height: 100%; 
}
}
footer{
clear: both;
position: relative;
z-index: 10;
height: 3em;
background-color:#adff2f;
}
#head_frog{
  background-color:#0099FF;
  text-align: center;
}

#nav{
  width:100%
  padding-left: 230px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #387919; 
  padding-left: 130px ;
  padding-bottom:0px;
  margin-bottom: 10px;
}

img {
  margin:3px;
}

.content{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

input {
border-radius: 5px;
}

input[type=text]{
  height:100px;
}

.button{
  /*-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;*/
  background-color:#b1ffa3;
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-topleft:10px;
  border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  text-indent:0px;
  border-right:1px solid #dcdcdc;
  border-left:1px solid #dcdcdc;
  border-top:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:35px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  margin-right:10px;
}.button:hover {
  background-color:#6ceb6c;
}.button:active {
  position:relative;
  top:1px;
}

#inputs {
  float:left;
  width: 20%;
  margin-right: 10px;
}
